
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    line-height: 1.6;
}

/* Header */
header {
    background-color:red;
    color: yellow;
    padding: 20px 0;
    text-align: center;
}

/* Navigation */
nav a {
    color:black;
    text-decoration: none;
    padding: 8px 15px;
    margin: 0 5px;
    font-weight: bold;
}

/* Hover & Active States */
nav a:hover {
    background-color: #555;
    border-radius: 4px;
    color:red
}

nav a:active {
    color: yellow;
}


section {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.highlight {
    background-color:  Pink;
    text-align: center;
    padding: 40px;
    font-size: 20px;
    border-radius: 10px;
}

/* Article Styling  */
article {
    background-color: #f0f8ff;
    padding: 15px;
    margin: 15px 0;
    border-left: 5px solid #0077cc;
    border-radius: 6px;
}

/* About Page Image */
.about-image {
    max-width: 300px;
    border: 3px solid #ccc;
    border-radius: 10px;
    display: block;
    margin-top: 10px;
}

/* Footer */
footer {
    background-color:red;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 30px;
}


ul li, ol li {
    margin-bottom: 8px;
}

/* Make links inside sections visible */
section a {
    color: #0077cc;
}
section a:hover {
    text-decoration: underline;
    color:red
}


